.testClass {
   font-size: 2em;
}

#container {
   line-height: 2em;
   text-align: right;

   height:  fit-content;
   width: fit-content;
   min-width: 15em;

   position: absolute;
   margin: auto;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);

   border: solid 1px gray;
   padding: 1em;
   border-radius: 1em;
}

input[type=number] {
   width: 15em;
}

select {
   width: 15em;
}