#footer-container {
    padding-top: 2em;
    width: 100%;
}

#footer {
    border-top: solid 1px gray;

    width: 100%;
    height: fit-content;

    padding-top: 1em;
    padding-bottom: 5em;
    margin-top: auto;

    background-color: gray;
}

#footer-content {
    width: 80%;
    margin: auto;
}

#footer-content li {
    list-style-type: none;
    float: left;
    display: block;
    padding: 1em;
}

#footer-content li a {
    color: white;
}