#footer-container {
    padding-top: 2em;
    width: 100%;
}

#footer {
    width: 100%;
    height: fit-content;

    padding-top: 1em;
    padding-bottom: 5em;
    margin-top: auto;

    background-color: rgb(60, 60, 60);
}

#footer-content {
    width: 90%;
    margin: auto;
}

#footer-content li {
    list-style-type: none;
    float: left;
    display: block;
    padding: 1em;
}

#footer-content li a {
    color: white;
}