#list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#list-container .item-container {
    width: 15em;
    height: 15em;
    position: relative;
}

#list-container .item {
    width: 13em;
    height: 13em;

    left: 50%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, 0%);

    text-align: center;
    border: solid 2px lightgray;
    border-radius: 0.5em;
}